JIRA_BASE_URL=https://suaempresa.atlassian.net
JIRA_EMAIL=email_do_usuario@empresa.com
JIRA_API_TOKEN=seu_token_aqui
JIRA_JQL=project in (BLCASH, BB, CEP, CTR, CVM175, DTVSLI, ETF, PGINT, SDDS2, SDDSF2, BNPTD, BTA, MAR, P1) AND status is not EMPTY ORDER BY project ASC, status ASC, assignee ASC, updated DESC
JIRA_CACHE_TTL=600000
PORT=3001